/* .carouselContainer {
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    position: relative;
}

.carouselImageWrap {
    width: 80%;
    height: 100%;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
}

.carouselImageWrap>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.prev-btn {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.next-btn {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
} */


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container .carouselWrapper {
    position: relative;
    width: 100%;
    padding: 0 10%;
    overflow: hidden;
}

.container .carouselWrapper:hover .swipeLeft,
.container .carouselWrapper:hover .swipeRight {
    position: absolute;
    top: 45%;
    z-index: 1;
    display: block;
    padding: 8px 6px;
    background-color: var(--GRAYE);
    border-radius: 10px;
}

.container .carouselWrapper .swipeLeft,
.container .carouselWrapper .swipeRight {
    display: none;
}

.container .carouselWrapper .swipeLeft {
    left: 0;
}

.container .carouselWrapper .swipeRight {
    right: 0;
}

.container .carouselWrapper .carousel {
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    width: 100%;
}

.container .carouselWrapper .carousel li {
    flex: none;
    object-fit: contain;
    /* padding: 0px 10px; */
}

.container .carouselItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    padding: 10px 0 15px;
    overflow: hidden;
    border-right: 2px solid var(--WHITE);
    border-left: 2px solid var(--WHITE);
    transition: border 300ms;
}

.container[color-theme='dark'] .carouselItem {
    border-right: 2px solid var(--GRAY2);
    border-left: 2px solid var(--GRAY2);
}

.container .carouselItem>img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}