
.carouselContainer {
    width: 300%;
    height: 660px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.carouselImageWrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.carouselImageWrap>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}